body{
	background-color: black;

}
iframe{
	width:100%;
	height:350px;
}
.social-buttons{
	padding-top:25px;
}
.social-buttons a{
	border:none;
}
.social-buttons .fb{
background-color: #3b5998;
}
.social-buttons .tw{
background-color: #00aced;
}
.social-buttons .ig{
background-color: #517fa4;
}
.header{
margin-top:0px;
padding-top:4em;
padding-bottom:2em;

	background: url("../images/Oct sharpened.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom:2px solid #444;
}
body *{
	color:white;
}
.center{
	text-align: center;
}
.craters{
	position:absolute;
	right:-15%;
	top:0%;
	z-index:0;
	width:60%;
}

h3{
	color:#eee;
	line-height: 1.5em;
}
footer, footer a{
	color:#777;
}
img{
	width:100%;
}